@model BookStore_ph1.ViewModels.BookGenreIndexViewModel

@{
    ViewData["Title"] = "Details";
}


    <h1>@Html.DisplayFor(model => model.Books[0].Title)</h1>
    


<div>
    <div>
        <img src="@Model.Books[0].FrontPage" height="300" width="190" class="rounded-lg">
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <h5>@Html.DisplayNameFor(model => model.Books[0].YearPublished)</h5>
        </dt>
        
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Books[0].YearPublished)
        </dd>
        <hr />
        <dt class="col-sm-2">
            <h5>@Html.DisplayNameFor(model => model.Books[0].NumPages)</h5>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Books[0].NumPages)
        </dd>
        <hr />
        <dt class="col-sm-2">
            <h5>@Html.DisplayNameFor(model => model.Books[0].Description)</h5>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Books[0].Description)
        </dd>
        <hr />
        <dt class="col-sm-2">
            <h5>@Html.DisplayNameFor(model => model.Books[0].Publisher)</h5>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Books[0].Publisher)
        </dd>
        <hr />
        
        <dt class="col-sm-2">
            <h5>@Html.DisplayNameFor(model => model.Books[0].Author)</h5>
        </dt>
        <dd class="col-sm-10">
            @if (Model.Books[0].AuthorId != null)
            {
                <a asp-controller="Authors" asp-action="Details" asp-route-id="@Model.Books[0].AuthorId" class="btn btn-outline-secondary mb-1">@Html.DisplayFor(model => model.Books[0].Author.FullName)</a>
            }
        </dd>
        <hr />
        <dt class="col-sm-2">
            <h5>@Html.DisplayNameFor(model => model.Books[0].Rating)</h5>
        </dt>
        @{
            var averageRating = Model.Books[0].Reviews?.Count > 0 ? Model.Books[0].Reviews.Average(r => r.Rating) : 0;
        }
        <dd class="col-sm-10">
            @String.Format("{0:0.00}", averageRating)
        </dd>
        <hr />
        <dt class="col-sm-10">
            <h5>@Html.DisplayNameFor(model => model.Books[0].BookGenres)</h5>
        </dt>
        
        <dd class="col-sm-10">
            @foreach (var genre in Model.Books[0].BookGenres)
            {
                <a asp-controller="Genres" asp-action="Details" asp-route-id="@genre.GenreId" class="btn btn-outline-secondary mb-1">
                    @genre.Genre.GenreName
                </a> <br />
            }
        </dd>
        <hr />
    </dl>
</div>
        <a asp-action="Index" class="btn btn-primary fixed-width-btn">Back</a>
@if(User.IsInRole("Admin") && User.Identity.IsAuthenticated)
{
    <a asp-action="Edit" asp-route-id="@Model?.Books[0].BookId" class="btn btn-primary fixed-width-btn mr-3">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.Books[0].BookId" class="btn btn-danger fixed-width-btn mr-3">Delete</a>
}


