@* @model BookStore_ph1.ViewModels.BookGenreIndexViewModel
    !<--This is the old style-->
@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>

<div>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</div>




<form asp-controller="Books" asp-action="Index" method="get">
    <p>
        <div class="input-group mb-3">
            <input asp-for="SearchString" type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append m-1">
                <input class="btn btn-primary" type="submit" value="Search" />
            </div>
        </div>
        <select asp-for="SearchCriteria" class="form-control-sm">
            <option disabled selected>Search Criteria</option>
            <option value="Title">Title</option>
            <option value="Author">Author</option>
            <option value="Genre">Genre</option>
        </select>
    </p>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].FrontPage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].YearPublished)
            </th>
            <th>
                Average Rating
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].BookGenres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].DownloadUrl)

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.FrontPage))
                    {
                        <img src="@item.FrontPage" height="300" width="200" />
                    }
                    else
                    {
                        <p>No cover available.</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearPublished)
                </td>
                @{
                    var averageRating = item.Reviews?.Count > 0 ? item.Reviews.Average(r => r.Rating) : 0;
                    <td>
                        @String.Format("{0:0.00}", averageRating)
                    </td>
                }

                @{
                    <td>
                        @foreach (var genre in item.BookGenres)
                        {
                            <a asp-controller="Genres" asp-action="Details" asp-route-id="@genre.GenreId"> @genre.Genre.GenreName </a>
                            <br />
                        }
                    </td>
                }


                <td>
                    @if (!string.IsNullOrEmpty(item.DownloadUrl))
                    {
                        <a href="@item.DownloadUrl" target="_blank">Download</a>
                    }
                    else
                    {
                        <p>No e-book available.</p>
                    }

                </td>
                <td align="right">

                    <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.BookId">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
 *@

@model BookStore_ph1.ViewModels.BookGenreIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </div>
}


<form asp-controller="Books" asp-action="Index" method="get">
    <p>
        <div class="input-group mb-3">
            <input asp-for="SearchString" type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append m-1">
                <input class="btn btn-primary" type="submit" value="Search" />
            </div>
        </div>
        <select asp-for="SearchCriteria" class="form-control-sm">
            <option disabled selected>Search Criteria</option>
            <option value="Title">Title</option>
            <option value="Author">Author</option>
            <option value="Genre">Genre</option>
        </select>
    </p>
</form>
<hr />
<div class="row">
    @foreach (var item in Model.Books)
    {
        <div class="col-md-4 mb-4" style="width: 20rem">
            <div class="card">
                @if (!string.IsNullOrEmpty(item.FrontPage))
                {
                    <img src="@item.FrontPage" class="card-img-top" alt="Book Cover">
                }
                <div class="card-body p-2">
                    <h2 class="card-title text-center">@item.Title</h2>
                    <h5 class="card-text text-center">Author:</h5>
                    <div class="row mb-3">
                        <div class="col text-center">
                            <a asp-controller="Authors" asp-action="Details" asp-route-id="@item.AuthorId" class="btn btn-outline-secondary mb-1">
                                @item.Author.FullName
                            </a>
                        </div>
                    </div>
                    <h5 class="card-text text-center">Year Published: </h5>
                    <p class="card-text text-center">@item.YearPublished</p>
                    @{
                        var averageRating = item.Reviews?.Count > 0 ? item.Reviews.Average(r => r.Rating) : 0;
                    }
                    <h5 class="card-text text-center">Average Rating: </h5>
                    <div class="rating text-center">
                        <span class="fa fa-star checked card-text text-center">@String.Format("{0:0.00}", averageRating)</span>
                    </div>

                   
                    <h5 class="card-text text-center">Genres:</h5>
                    <div class="row mb-3">
                        <div class="col text-center">
                            @foreach (var genre in item.BookGenres)
                            {
                                <a asp-controller="Genres" asp-action="Details" asp-route-id="@genre.GenreId" class="btn fixed-width-btn btn-outline-secondary mb-1">
                                    @genre.Genre.GenreName
                                </a>
                            }
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col text-center">
                            @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("User")))
                            {
                                <a href="@item.DownloadUrl" class="btn btn-primary fixed-width-btn mr-2 text-white">Download</a>
                            }
                            
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.BookId" class="btn btn-primary fixed-width-btn">Edit</a>
                            }
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col text-center">
                            <a asp-action="Details" asp-route-id="@item.BookId" class="btn btn-primary fixed-width-btn mr-2">Details</a>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a asp-action="Delete" asp-route-id="@item.BookId" class="btn btn-danger fixed-width-btn">Delete</a>
                            }
                        </div>
                    </div>
                    @if(User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("User"))){
                        <div class="row">
                            <div class="col text-center">
                                <form method="post" asp-controller="Books" asp-action="Buy" asp-route-bookId="@item.BookId">
                                    <button type="submit" class="btn btn-primary fixed-width-btn mr-2">Buy</button>
                                </form>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>




