@model IEnumerable<BookStore_ph1.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mb-3">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                    @if(User.IsInRole("Admin") && User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Edit" asp-route-id="@item.ReviewId" class="btn btn-primary fixed-width-btn mb-3">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.ReviewId" class="btn btn-danger fixed-width-btn mb-3">Delete</a>
                    }

                    <a asp-action="Details" asp-route-id="@item.ReviewId" class="btn btn-primary fixed-width-btn mb-3">Details</a> 
                    
            </td>
        </tr>
}
    </tbody>
</table>
