@model IEnumerable<BookStore_ph1.Models.UserBooks>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.IsInRole("Admin") && User.Identity.IsAuthenticated)
{
        <a asp-action="Create" class="btn btn-primary">Create New</a>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                    @if (User.IsInRole("Admin") && User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Edit" asp-route-id="@item.UserBooksId">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.UserBooksId">Delete</a>
                    }
                    <a asp-controller="Books" asp-action="Details" asp-route-id="@item.Book.BookId" class="btn btn-primary fixed-width-btn mr-1">Details</a>
                    <a asp-controller="Reviews" asp-action="Create" class="btn btn-primary fixed-width-btn">Add Review</a>
            </td>
        </tr>
}
    </tbody>
</table>
