@model IEnumerable<BookStore_ph1.Models.BookGenre>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.GenreName)
            </td>
            <td>
                 @if (User.Identity.IsAuthenticated && User.IsInRole("Admin")){
                        <a asp-action="Edit" asp-route-id="@item.BookGenreId" class="btn btn-primary mr-1">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.BookGenreId" class="btn btn-primary mr-1">Delete</a>
                 }


                    <a asp-action="Details" asp-route-id="@item.BookGenreId" class="btn btn-primary">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
